{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>



    <ul>
        {% for post in category.posts %}
        <li><a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a></li>
        {% else %}
        <li>no records found</li>
        {% endfor %}
    </ul>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
